@use"base/reset";
@use"utilities/variable";
@use"base/stylegeneral";
@use"layout/header";
@use"layout/main";
@use"utilities/mixins";
@use"components/box";
@use"components/cards";
@use"components/carrusel";
@use"layout/footer";
@use"layout/responsive";