header {
    background: linear-gradient(90deg, rgba(18, 54, 112, 1) 0%, rgba(95, 145, 184, 1) 28%, rgba(67, 141, 171, 1) 50%, rgba(47, 144, 168, 1) 74%, rgba(18, 54, 112, 1) 100%);
    background-size: cover;
    position: sticky;
    justify-content: space-around;
    padding: 10px 0;
    top: 0px;
    z-index: 100;
    h1 {
        animation-name: aparecer;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        color: rgba(33, 255, 162, 0.975);
        text-align: center;
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    @keyframes aparecer {
        from {
            transform: scale(1);
            opacity: 0;
        }
        to {
            transform: scale( 1.6);
            opacity: 1;
        }
    }
    nav ul {
        display: flex;
        gap: 50px;
        justify-content: center;
        li {
            list-style: none;
            a {
                font-size: 20px;
                text-decoration: none;
                color: rgb(7, 246, 246);
            }
        }
    }
}