@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin: 0;
        padding: 0;
    }
    header {
        text-align: center;
        font-size: small;
        display: flex;
        flex-direction: column;
        nav ul {
            flex-direction: row;
            padding: 0;
            gap: 5px;
            li a {
                font-size: 13px;
            }
        }
        h1 {
            font-size: 20px;
            margin-bottom: 14px;
        }
    }
    .pagina-imagenes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        align-items: center;
        .card {
            max-width: 350px;
            margin: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .ubicacion img {
        padding: 10px;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 350px;
    }
    .texto-ubicacion {
        width: 100%;
        padding: 1rem;
        justify-content: center;
        text-align: center;
        p {
            font-size: 14px;
            margin-bottom: 1rem;
            text-align: justify;
            word-break: break-word;
        }
    }
    .parrafohistoria {
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        width: auto;
        gap: 3px;
    }
    .historia img {
        position: static;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 3px;
        border: 5px solid 5px;
        margin: 20px;
        left: 0px;
        gap: 5px
    }
    h2 {
        font-size: 28px;
        padding: 10px;
    }
    .paginaprincipal {
        display: flex;
        flex-direction: column;
        align-items: center;
        .box {
            width: 90%;
            height: auto;
            border-radius: 20px;
            padding: 10px;
        }
    }
    .imagenestacion,
    .imagencartel,
    .textoestacion,
    .textocartel {
        position: static;
        width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .carousel-final {
        display: flex;
        flex-direction: column;
        /* para que el h2 quede arriba */
        align-items: center;
        /* centra horizontalmente */
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    figcaption {
        text-align: center;
        font-size: 16px;
    }
    .carousel {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        height: auto
    }
    .carousel-inner {
        align-items: center;
        justify-content: center;
        height: 80%;
        width: 100%;
        padding: 20px;
    }
    footer div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        ul {
            text-align: center;
            padding: 0;
        }
    }
}