body {
    display: flex;
    flex-direction: column;
}

.paginaprincipal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    justify-content: center;
    img {
        width: 700px;
        height: 400px;
    }
}

.historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        position: static;
        align-items: center;
        width: 400px;
        height: 300px;
        padding: 3px;
        border: 5px solid 5px;
        margin: 20px;
        left: 0px;
        gap: 5px
    }
}

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    p {
        font-size: 18px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        justify-content: center;
        width: auto;
        gap: 2px;
    }
    img {
        position: static;
        align-items: center;
        width: 400px;
        height: 300px;
        padding: 3px;
        border: 5px solid 5px;
        border-radius: 10%;
        left: 0px;
        right: 10px;
    }
    ul li {
        list-style: circle;
        color: rgb(2, 14, 117);
    }
}

h2 {
    color: rgb(14, 34, 105);
    text-decoration: underline;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    padding: 20px;
}

.textoestacion {
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 5px;
    border: 5px solid 5px;
    margin: 20px;
    left: 0px;
    bottom: 100px;
}

.textocartel {
    position: absolute;
    width: 300px;
    height: 200px;
    padding: 5px;
    border: 5px solid 5px;
    margin: 30px;
    left: 400px;
    bottom: 100px;
}

.parrafohistoria {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 1000px;
    gap: 5px;
    justify-content: center;
}

h3 {
    text-align: center;
}